body{
    background-color: black;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
    height: 30px;
    width: 100%;
    padding: 20px 0;
    margin: 0px;
    border-bottom: 1px solid blue;
}

.theme{
    text-align: center;
    font-size: 30px;
    margin: 0%;
}

.login{
    position: absolute;
    top: 25px;
    left: 1130px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    padding: 0%;
    margin: 0%;
}

.touroku{
    position: absolute;
    top: 25px;
    left: 1220px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    padding: 0%;
    margin: 0%;
}

.contents{
    display: flex;
    justify-content: space-between;
}

.add-word{
    margin: 80px 20px 20px 35px;
    border: 2px solid white;
    width: 50%;
}

.txt{
    color: #a8cff1;
    background-color: transparent;
    padding: 126px 178px 126px 178px;
    font-size: 30px;
}

.add-file{
    margin: 80px 35px 20px 20px;
    border: 2px solid white;
    width: 50%;
}

.file{
    color: #dff709;
    background-color: transparent;
    padding: 126px 193px 126px 193px;
    font-size: 30px;
}

.file1{
    height: 60px;
    border: 2px solid white;
    color: white;
    margin-bottom: 14px;
}

.file-button1{
    background-color: transparent;
    color: white;
    padding: 0%;
    margin: 0%;
    border-color: transparent;
    font-size: 18px;
}

.file-txt1{
    margin: 15px;
}

.file2{
    height: 60px;
    border: 2px solid white;
    color: white;
    margin-bottom: 14px;
}

.file-button2{
    background-color: transparent;
    color: white;
    padding: 0%;
    margin: 0%;
    border-color: transparent;
    font-size: 18px;
}

.file-txt2{
    margin: 15px;
}

.file3{
    height: 60px;
    border: 2px solid white;
    color: white;
    margin-bottom: 14px;
}

.file-button3{
    background-color: transparent;
    color: white;
    padding: 0%;
    margin: 0%;
    border-color: transparent;
    font-size: 18px;
}

.file-txt3{
    margin: 15px;
}